.grid {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 65px - 65px);

    .grid__item-a { 
        width: 100%;
        max-height: 100vh;
    }

    .grid__item-b { 
        position: absolute;
        align-self: center;
        width: 100%;
        font-size: 60px;
        font-weight: bold;
        color: $titol-portada;
        text-align: center;
        text-transform: uppercase;
    }

    .grid__item-c, .grid__item-d, .grid__item-e, .grid__item-f { 
        display: none;
     }
}


@supports (display: grid) {
    .grid {
        display: grid;
        grid-template: 
            'a b c' calc(100vh / 2)
            'd e f' calc(100vh / 2) /
            calc(100vw / 2) calc(100vw / 4) calc(100vw / 4);
        container-type: inline-size;
    
        .grid__item-a { 
            grid-area: a;
            width: calc(100vw / 1.5);
            @container (max-width: 600px) {
                width: 100vw;
                margin-top: 56px;
            }
         }
    
        .grid__item-b { 
            position: relative;
            grid-area: b;
            width: calc(100vw / 2);
            @container (max-width: 600px) {
                position: absolute;
                align-self: center;
                font-size: 30px;
                font-weight: bold;
                color: $titol-portada;
                text-align: center;
                text-transform: uppercase;
            }
        }
    
        .grid__item-c { 
            display: grid;
            grid-area: c;
         }
    
        .grid__item-d { 
            display: grid;
            grid-area: d;
            align-content: center;
            align-self: start;
            width: 30%;
            margin: 5%;
            @container (max-width: 600px) { width: 100%; }
        }
    
        .grid__item-e { 
            display: grid;
            grid-area: e;
            align-self: center;
            height: fit-content;
            text-align: center;
            @container (max-width: 600px) { width: calc(100vw / 2.1); }

        }
    
        .grid__item-f { 
            display: grid;
            grid-area: f;
            align-content: start;
            color: $color-cinc;
            writing-mode: vertical-rl;
         }
      } 
}


