.grid {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 65px - 65px);

    .grid-item__a { 
        width: 100%;
        max-height: 100vh;
    }

    .grid-item__b { 
        position: absolute;
        align-self: center;
        font-size: 60px;
        font-weight: bold;
        width: 100%;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        text-align: center;
    }

    .grid-item__c, .grid-item__d, .grid-item__e, .grid-item__f { 
        display: none;
     }

  }


@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-areas: 'a b c'
                             'd e f';
        grid-template-columns: calc(100vw / 2) calc(100vw / 4) calc(100vw / 4);
        grid-template-rows: calc(100vh / 2) calc(100vh / 2);
    
        .grid-item__a { 
            grid-area: a;
            width: calc(100vw / 1.5);
         }
    
        .grid-item__b { 
            grid-area: b;
            position: relative;
            width: calc(100vw / 2);
        }
    
        .grid-item__c { 
            grid-area: c;
            display: grid;
         }
    
        .grid-item__d { 
            grid-area: d;
            display: grid;
            align-content: center;
            width: 30%;
            margin: 5%;
            align-self: start;
        }
    
        .grid-item__e { 
            grid-area: e;
            display: grid;
            height: fit-content;
            text-align: center;
            align-self: center
        }
    
        .grid-item__f { 
            grid-area: f;
            display: grid;
            writing-mode: vertical-rl;
            align-content: start;
            color: $color-cinc;
         }
      } 
      
      @media (max-width: $mqMidWidth) { 
        .grid {
            margin-top: 56px;
            .grid-item__a { 
                width: 100vw;
            }
        
            .grid-item__b { 
                position: absolute;
                align-self: center;
                font-size: 30px;
                font-weight: bold;
                width: 100%;
                color: rgba(255, 255, 255, 0.5);
                text-transform: uppercase;
                text-align: center;
            }
    
            .grid-item__d { 
                width: 100%;
            }
    
            .grid-item__e { 
                width: calc(100vw / 2.1);
            }
    
        }
    }
}


