* {
  box-sizing: border-box;
}

body {
  // Box model
  display: flex;
  flex-direction: column;
  height: 100vh;
  //padding: 2rem;
  margin: 0;

  // Typography
  font-family: $font-family-sans-serif;
  line-height: 24px;

  // Visual
  background-color: $color-principal;
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

include{
  margin: 2rem;
}