.page3 {
    article {
        display: block;
        margin: 65px 5%;
    
        figure:has(figcaption) img {
            width: 100%;
            aspect-ratio: 16/9;
        }
    
        figure:has(img) figcaption {
            margin-top: 2%;
        }
        
        figure:not(:has(figcaption)) img {
            float: left;
            width: 50%;
            margin-right: 2%;
        }
    
        :where(p, li) > b {
            color: orange;
        }
    }
}

