@layer base, layout, components;

@layer layout { 
    .page4 {
        height: calc(100vh - 56px - 56px);
        padding: 2%;
        margin-top: 56px;
        container-type: inline-size;
    }
}

@layer components {
    .page4 {

        &__form-group {
            margin-top: 2%;
        }
    
        &__input {
            background-color: $color-display-p3;
        }
    
        &__select, &__textarea {
            background-color: $color-hwb
        }
        
        &__button {
            @container (max-width: 500px) {
                width: 100%;
            }
        }
    }
}

