.page4 {
    margin-top: 56px;
    padding: 2%;
    height: calc(100vh - 56px - 56px);
    container-type: inline-size;

    .form-group {
        margin-top: 2%;

        input {
            background-color: $color-display-p3;
        }
    
        select, textarea {
            background-color: $color-hwb
        }
    }
    
    button {
        @container (max-width: 500px) {
            width: 100%;
        }
    }
}