.page3 {
    container-type: inline-size;

    article {
        display: block;
        margin: 65px 5%;

        h2 {
            text-transform: uppercase;
            font-weight: 700;
            
            @container (max-width: 400px) {
                font-weight: 500;
            }
        }
    
        figure:has(figcaption) img {
            width: 100%;
            aspect-ratio: 16/9;
        }
    
        figure:has(img) figcaption {
            margin-top: 2%;
        }
        
        figure:not(:has(figcaption)) img {
            float: left;
            width: 50%;
            margin-right: 2%;
        }
    
        :where(p, li) > b {
            color: orange;
        }
    }
}

