.page2 {
    
    &__div{
        display: flex;
        flex-wrap: wrap;
        margin: 2rem;
        margin-bottom: 65px;
    
        &__div {
            flex: 1 1 30%;
            padding: 1.5rem;
            margin: 1%;
        }
    }

    @media (max-width: $mqMidWidth) {
        &__div__div {
            flex: 1 1 35%;
        }
    }
    
    @media (max-width: $mqMinWidth) {
        &__div__div {
            flex: 1 1 50%;
        }
    }
}

