.page2 {
    
    &__div{
        display: flex;
        flex-wrap: wrap;
        margin: 2rem;
        margin-bottom: 65px;
    
        &__div {
            flex: 1 1 30%;
            padding: 2rem;
            margin: 1%;
        }
    }
}

