<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="/src/assets/images/logo.webp" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="./index.html">Front Page</a>
            <a class="nav-link active" href="./page-two.html">Page Two</a>
            <a class="nav-link active" href="./page-three.html">Page Three</a>
            <a class="nav-link active" href="./page-four.html">Page Four</a>
        </div>
    </div>
    <a class="navbar-brand" href="#">
        <i class="fab fa-google-plus-g"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
    </a>
</nav>

<!--<footer class="uoc-footer">
    &copy; Universitat Oberta de Catalunya
</footer>-->