  <nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/src/assets/images/logo.webp" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="./index.html">Front Page <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="./page-two.html">Page Two</a>
        <a class="nav-item nav-link active" href="./page-three.html">Page Three</a>
        <a class="nav-item nav-link active " href="./page-four.html">Page Four</a>
      </div>
    </div>
  </nav>