<div class="page2">
    <h2>Millors xefs</h2>
    <div class="page2__div">
        <div class="page2__div__div">
            <img class="page2__div__div__img" src="/src/assets/images/xef1.jpg" alt="">
            <h3>Xef 1</h3>
            <span>A la vora dels suaus vessants del Montseny, aquest xef recull personalment les herbes aromàtiques que infonen els seus plats d'un toc distintiu i profundament català.</span>
        </div>
        <div class="page2__div__div">
            <img class="page2__div__div__img" src="/src/assets/images/xef2.jpg" alt="">
            <h3>Xef 2</h3>
            <span>Des de la seva cuina amb vistes a les ondulants vinyes del Penedès, aquest xef especialitzat en maridatges crea plats que complementen perfectament els vins locals, destacant-se per la seva meticulosa selecció d'ingredients de temporada.</span>
        </div>
        <div class="page2__div__div">
            <img class="page2__div__div__img" src="/src/assets/images/xef3.jpg" alt="">
            <h3>Xef 3</h3>
            <span> Amb el murmuri de l'Ebre com a banda sonora, aquest xef elabora plats que són un homenatge a la rica varietat gastronòmica del Delta, utilitzant peix i marisc fresc en receptes que parlen de la història de la regió.</span>
        </div>
        <div class="page2__div__div">
            <img class="page2__div__div__img" src="/src/assets/images/xef4.jpg" alt="">
            <h3>Xef 4</h3>
            <span>Inspirat per les agrestes vistes del Cap de Creus, aquest innovador xef fusiona tècniques modernes amb sabors tradicionals catalans, creant experiències culinàries que són tan sorprenents com el paisatge que l'envolta.</span>
        </div>
        <div class="page2__div__div">
            <img class="page2__div__div__img" src="/src/assets/images/xef5.jpg" alt="">
            <h3>Xef 5</h3>
            <span>Envoltat per l'animada atmosfera del Barri Gòtic de Barcelona, aquest xef es dedica a reinterpretar plats clàssics catalans per als paladars contemporanis, sempre amb un ull posat en la sostenibilitat i l'aprofitament integral dels aliments.</span>
        </div>
        <div class="page2__div__div">
            <img class="page2__div__div__img" src="/src/assets/images/xef6.jpg" alt="">
            <h3>Xef 6</h3>
            <span>Des de les altures fredes de la Cerdanya, aquest xef prepara plats reconfortants que reflecteixen l'influència del clima de muntanya en la cuina local, utilitzant productes com la trumfa negra i formatges d'alçada que captiven tant locals com visitants.</span>
        </div>
    </div>
</div>
