@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$color-principal: #202020;
$color-secundari: #333533;
$color-terciari: #FFD100;
$color-quaternari: #FFD100CC;
$color-cinc: #D6D6D6;

$mqMinWidth: 420px;
$mqMidWidth: 620px;
